<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ContactForRegionRequest</key>
	<string>/contactForRegion</string>
	<key>PictureForRegionContactRequest</key>
	<string>/regionContactPicture</string>
	<key>PictureForDojoRequest</key>
	<string>/dojoPicture</string>
	<key>SessionsForDojoRequest</key>
	<string>/sessionsForDojo</string>
	<key>WebServerScheme</key>
	<string>http</string>
	<key>WebServerPort</key>
	<string>8181</string>
	<key>DojosWithinRegionRequest</key>
	<string>/dojosWithin</string>
	<key>WebServerAddress</key>
	<string>dojofinder.org</string>
</dict>
</plist>
